<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aatg.tc.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.aatg.tc" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    
    <instrumentation 
        android:targetPackage="com.example.aatg.tc"
        android:label="Temperature Converter Activity Launch Performance"
        android:name=".launchperf.TemperatureConverterActivityLaunchPerformance" />

</manifest>